<% option_types.each do |type| %>
  <div class="panel panel-default filterNormal">
    <div class="panel-heading"><%= "filter by : #{type.name}" %></div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <% type.option_values.each do |value| %>
          <li>
            <%= link_to potepan_category_path(params[:id], option_type: type.name,
                                                          option_value: value.name) do %>
              <%= "#{value.presentation}" %>
              <span><%= "(#{value.variants.count})" %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
