<div class="row filterArea">
  <div class="col-xs-6">
     <%= select_tag 'order', options_for_select(@dropdown_list, :selected=>"1"), class: "select-drop", onChange: "location.href=value;" %>
  </div>
  <div class="col-xs-6">
    <% ['list', 'grid'].each do |switch| %>
      <%= link_to potepan_category_path(current_params.merge(format_switch: switch)),
        class: 'btn-group pull-right', role: 'group' do %>
        <button type="button" class="btn btn-default <%= 'active' if session[:format] == switch %>">
          <i class="fa fa-th" aria-hidden="true"></i><span><%= switch %></span>
        </button>
      <% end %>
    <% end %>
  </div>
</div>
