<div class="row productListSingle">
  <% @displays.each do |display| %>
    <div class="col-xs-12">
      <div class="media">
        <div class="media-left">
          <%= image_tag display.display_image.attachment(:product) %>
          <span class="maskingImage">
            <a data-toggle="modal" href=".quick-view" class="btn viewBtn">Quick View</a>
          </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to products_was_filtered? ? potepan_product_path(display.product.id) :
                                                 potepan_product_path(display.id) do %>
              <%= display.name %>
            <% end %>
          </h4>
          <% if products_was_filtered? %>
            <%= render partial: 'shared/type_and_value',
                        locals: { variant: display } %>
          <% end %>
          <h3><%= display.display_price %></h3>
          <p><%= display.description %></p>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal"><i class="fa fa-heart" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
