<% taxonomies.each do |taxonomy| %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= "search by : #{taxonomy.name}" %></div>
    <div class="panel-body">
      <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
        <ul class="nav navbar-nav side-nav">
          <% taxonomy.root.children.each do |taxon| %>
            <% if taxon.leaf? %>
              <li>
                <%= link_to potepan_category_path(taxon.id) do %>
                  <%= taxon.name %>
                  <span><%= "(#{taxon.products.count})" %></span>
                <% end %>
              </li>
            <% else %>
              <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#No<%= taxon.id %>"><%= taxon.name %><i class="fa fa-plus"></i></a>
                <ul id="No<%= taxon.id %>" class="collapse collapseItem">
                  <% taxon.children.each do |child| %>
                    <li>
                      <%= link_to potepan_category_path(child.id) do %>
                        <i class="fa fa-caret-right" aria-hidden="true"></i><%= child.name %>
                        <span><%= "(#{child.products.count})" %></span>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
