<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <%= render partial: 'search_by_taxonomy',
              locals: { taxonomies: @taxonomies } %>
  <%= render partial: 'filter_by_option',
              locals: { option_types: @option_types, taxon: @taxon} %>
  <%= render 'search_by_price' %>
</div>
