<% if products_was_filtered? %>
  <% provide(:title, "#{@taxon.name} (#{@type.presentation}: #{@value.presentation})") %>
<% elsif searched_words? %>
  <% provide(:title, "「#{params[:search]}」の検索結果: #{@displays.count}件") %>
<% elsif @taxon.root? %>
  <% provide(:title, "#{@taxon.root.name}") %>
<% else %>
  <% provide(:title, "#{@taxon.root.name}: #{@taxon.name}") %>
<% end %>

<%= render 'layouts/light_section' %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'sidebar' %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render partial: 'filter_area',
                    locals: { current_params: @params } %>
        <%= render display_format_is_list? ? 'list' : 'grid' %>
      </div>
    </div>
  </div>
</section>

<%= render 'layouts/partner' %>
