<% unless related_products.count.zero? %>
  <div class="row productsContent">
    <div class="col-xs-12">
      <div class="page-header">
        <h4>関連商品</h4>
      </div>
    </div>
    <%= render_product_displays(related_products, File.basename(__FILE__)) %>
  </div>
<% end %>
