<% case where_from %>
<% when "_related_product.html.erb" %>
  <div class="col-md-3 col-sm-6 col-xs-12">
<% when "_grid.html.erb" %>
  <div class="col-sm-4 col-xs-12">
<% when "_new_product.html.erb" %>
  <div class="slide">
<% end %>
