<% unless new_products.count.zero? %>
  <div class="row featuredProducts">
    <div class="col-xs-12">
      <div class="page-header">
        <h4>新着商品</h4>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="owl-carousel featuredProductsSlider">
        <%= render_product_displays(new_products, File.basename(__FILE__)) %>
      </div>
    </div>
  </div>
<% end %>
