<% unless popular_categories.count.zero? %>
  <div class="row featuredCollection">
    <div class="col-xs-12">
      <div class="page-header">
        <h4>人気カテゴリー</h4>
      </div>
    </div>
    <% popular_categories.each do |popular_category| %>
      <div class="col-sm-4 col-xs-12">
        <div class="thumbnail">
          <div class="imageWrapper">
            <%= image_tag("home/featured-collection/featured-collection-#{popular_category.name}.jpg", :alt => "feature-collection-image") %>
            <div class="masking">
              <%= link_to "View #{popular_category.name}", potepan_category_path(popular_category.id), class: "btn viewBtn" %>
            </div>
          </div>
          <div class="caption">
            <h4><%= "#{popular_category.name}" %></h4>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
