<%= render 'banner' %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render partial: 'popular_category',
                locals: { popular_categories: @popular_categories } %>
    <%= render partial: 'new_product',
                locals: { new_products: @new_products } %>
    <div class="row latestArticles">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>お役立ち記事</h4>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="thumbnail">
          <h5><a href="blog_single_left_sidebar.html">記事タイトル</a></h5>
          <span class="meta">2016/9/16</span>
          <a href="blog_single_left_sidebar.html"><%= image_tag("home/articles/articles-01.jpg", :alt => "article-image") %></a>
          <div class="caption">
            <p>記事本文（100文字）</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="thumbnail">
          <h5><a href="blog_single_left_sidebar.html">記事タイトル</a></h5>
          <span class="meta">2016/9/16</span>
          <a href="blog_single_left_sidebar.html"><%= image_tag("home/articles/articles-02.jpg", :alt => "article-image") %></a>
          <div class="caption">
            <p>記事本文（100文字）</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="thumbnail">
          <h5><a href="blog_single_left_sidebar.html">記事タイトル</a></h5>
          <span class="meta">2016/9/16</span>
          <a href="blog_single_left_sidebar.html"><%= image_tag("home/articles/articles-03.jpg", :alt => "article-image") %></a>
          <div class="caption">
            <p>記事本文（100文字）</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="thumbnail">
          <h5><a href="blog_single_left_sidebar.html">記事タイトル</a></h5>
          <span class="meta">2016/9/16</span>
          <a href="blog_single_left_sidebar.html"><%= image_tag("home/articles/articles-04.jpg", :alt => "article-image") %></a>
          <div class="caption">
            <p>記事本文（100文字）</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'layouts/partner' %>
