<li class="dropdown searchBox">
  <a href= <% "javascript:void(0)" %> class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
  <ul class="dropdown-menu dropdown-menu-right">
    <li>
      <span class="input-group">
        <%= form_tag('/potepan/categories/1', enforce_utf8: false, method: 'get') do %>
          <%= text_field_tag :search, params[:search] %>
          <span class="input-group-addon" id="basic-addon2">
            <%= submit_tag "検索", :name => nil %>
          </span>
        <% end %>
      </span>
    </li>
  </ul>
</li>
